@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --tw-codestake: #0065f1;
  --tw-cs-white: #f5f5f5;
  --tw-cs-black: #010101;
  --tw-cs-code: #1e293b;
}

.markdown > * {
  all: revert;
}

.markdown code {
  border-radius: 10px;
  background-color: #e6e6e6;
  color: #010101;
  padding: 1em;
  display: block;
  font-family: monospace;
  font-size: large;
  white-space: pre-wrap;
}

body.dark .markdown code {
  background-color: #1e293b; /* dark mode background color */
  color: #f5f5f5;
}

.markdown li {
  margin-bottom: 1em;
}
